main{
    display: grid;
    grid-template-areas: "header"
                         "section" 
                         "footer";
    background-image: url(../images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    height: 100vh;
}


.header{
    grid-area: header;
}

.header img{
    margin: 20px 60px ;
}

.section{
    grid-area: section;
    display: flex;
}

.section .ilustration{
    margin: 35px 35px auto 60px;
    width: 100%;
}

.section .description{
    font-family: var(--restante);
    color: white;
    display: flex;
    flex-direction: column;
    padding-right: 7%;
    margin-top: 8%;
}

.section .description h2{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.section .description p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    line-height: 25px;
}

.section .description .btn{
    display: flex;
    justify-content: center;
    color:  hsl(257, 40%, 49%);
    font-weight: 600;
    background-color:white;
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    width: 220px;
    border-radius: 100px;
}

.section .description .btn:hover{
    color: white;
    background-color: var(--fundo);
    transition: 0.2s ease-out;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.footer .social{
    display: flex;
    margin-right: 90px;
}

.footer .social .web{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 7px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: solid;
    border-width: 1px;
    border-color: white;
}

.footer .social .web:hover{
    color: var(--fundo);
    border-color: var(--fundo);
    transition: 0.2s ease-in-out;
}

@media(max-width: 425px){
    main{
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        width: 100vw;
    }

    .header img{
        width: 150px;
        margin: 15px 30px;
    }

    .section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section .ilustration{
        padding: 15px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }

    .section .description{
        align-items: center;
    }

    .section .description h2{
        line-height: 40px;
        font-size: 26px;
        text-align: center;
    }

    .section .description p{
        font-size: 14px;
        margin-left: 8%;
        text-align: center;
    }

    .footer{
        justify-content: center;
        align-items: end;
    }

    .footer .social{
        margin-right: 0px;
    }
}